USE [QUANLYQUANCAFE]
GO
/****** Object:  StoredProcedure [dbo].[THUCUONG_UPDATE]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[THUCUONG_UPDATE]
GO
/****** Object:  StoredProcedure [dbo].[THUCUONG_SELECTBYNAME]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[THUCUONG_SELECTBYNAME]
GO
/****** Object:  StoredProcedure [dbo].[THUCUONG_SELECTALL]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[THUCUONG_SELECTALL]
GO
/****** Object:  StoredProcedure [dbo].[THUCUONG_INSERT]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[THUCUONG_INSERT]
GO
/****** Object:  StoredProcedure [dbo].[THUCUONG_DELETE]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[THUCUONG_DELETE]
GO
/****** Object:  StoredProcedure [dbo].[PHIEUNHAPNGUYENLIEU_INSERT]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[PHIEUNHAPNGUYENLIEU_INSERT]
GO
/****** Object:  StoredProcedure [dbo].[NHANVIEN_UPDATE]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[NHANVIEN_UPDATE]
GO
/****** Object:  StoredProcedure [dbo].[NHANVIEN_SELECTBYCMND]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[NHANVIEN_SELECTBYCMND]
GO
/****** Object:  StoredProcedure [dbo].[NHANVIEN_SELECTALL]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[NHANVIEN_SELECTALL]
GO
/****** Object:  StoredProcedure [dbo].[NHANVIEN_SELECT]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[NHANVIEN_SELECT]
GO
/****** Object:  StoredProcedure [dbo].[NHANVIEN_INSERT]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[NHANVIEN_INSERT]
GO
/****** Object:  StoredProcedure [dbo].[NHANVIEN_DELETE]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[NHANVIEN_DELETE]
GO
/****** Object:  StoredProcedure [dbo].[NGUYENLIEU_UPDATE]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[NGUYENLIEU_UPDATE]
GO
/****** Object:  StoredProcedure [dbo].[NGUYENLIEU_SELECTNEEDTOIMPORT]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[NGUYENLIEU_SELECTNEEDTOIMPORT]
GO
/****** Object:  StoredProcedure [dbo].[NGUYENLIEU_SELECTBYNAME]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[NGUYENLIEU_SELECTBYNAME]
GO
/****** Object:  StoredProcedure [dbo].[NGUYENLIEU_SELECTBAD]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[NGUYENLIEU_SELECTBAD]
GO
/****** Object:  StoredProcedure [dbo].[NGUYENLIEU_SELECTALL]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[NGUYENLIEU_SELECTALL]
GO
/****** Object:  StoredProcedure [dbo].[NGUYENLIEU_INSERT]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[NGUYENLIEU_INSERT]
GO
/****** Object:  StoredProcedure [dbo].[NGUYENLIEU_IMPORT]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[NGUYENLIEU_IMPORT]
GO
/****** Object:  StoredProcedure [dbo].[HOADON_XOA]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[HOADON_XOA]
GO
/****** Object:  StoredProcedure [dbo].[HOADON_TINHTONGTIEN]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[HOADON_TINHTONGTIEN]
GO
/****** Object:  StoredProcedure [dbo].[HOADON_SELECTALL]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[HOADON_SELECTALL]
GO
/****** Object:  StoredProcedure [dbo].[HOADON_INSERT]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[HOADON_INSERT]
GO
/****** Object:  StoredProcedure [dbo].[CHITIETTHUCUONG_UPDATE]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[CHITIETTHUCUONG_UPDATE]
GO
/****** Object:  StoredProcedure [dbo].[CHITIETTHUCUONG_SELECTBYMATU]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[CHITIETTHUCUONG_SELECTBYMATU]
GO
/****** Object:  StoredProcedure [dbo].[CHITIETTHUCUONG_SELECTBYMANL]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[CHITIETTHUCUONG_SELECTBYMANL]
GO
/****** Object:  StoredProcedure [dbo].[CHITIETTHUCUONG_INSERT]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[CHITIETTHUCUONG_INSERT]
GO
/****** Object:  StoredProcedure [dbo].[CHITIETTHUCUONG_DELETE]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[CHITIETTHUCUONG_DELETE]
GO
/****** Object:  StoredProcedure [dbo].[CHITIETPHIEUNHAP_INSERT]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[CHITIETPHIEUNHAP_INSERT]
GO
/****** Object:  StoredProcedure [dbo].[CHITIETPHACHE_INSERT]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[CHITIETPHACHE_INSERT]
GO
/****** Object:  StoredProcedure [dbo].[CHITIETHOADON_INSERT]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[CHITIETHOADON_INSERT]
GO
/****** Object:  StoredProcedure [dbo].[BAOCAO_INSERT]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP PROCEDURE [dbo].[BAOCAO_INSERT]
GO
ALTER TABLE [dbo].[PHIEUNHAPNGUYENLIEU] DROP CONSTRAINT [FK__PHIEUNHAPN__MANV__2A4B4B5E]
GO
ALTER TABLE [dbo].[HOADON] DROP CONSTRAINT [FK__HOADON__MANV__398D8EEE]
GO
ALTER TABLE [dbo].[CHITIETTHUCUONG] DROP CONSTRAINT [FK__CHITIETTH__MATHU__35BCFE0A]
GO
ALTER TABLE [dbo].[CHITIETTHUCUONG] DROP CONSTRAINT [FK__CHITIETTH__MANGU__36B12243]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] DROP CONSTRAINT [FK_MANGUYENLIEU]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] DROP CONSTRAINT [FK__CHITIETPH__MAPNN__300424B4]
GO
ALTER TABLE [dbo].[CHITIETPHACHE] DROP CONSTRAINT [FK__CHITIETPH__MACTH__403A8C7D]
GO
ALTER TABLE [dbo].[CHITIETHOADON] DROP CONSTRAINT [FK__CHITIETHO__MATHU__3D5E1FD2]
GO
ALTER TABLE [dbo].[CHITIETHOADON] DROP CONSTRAINT [FK__CHITIETHO__MAHOA__3C69FB99]
GO
ALTER TABLE [dbo].[BAOCAO] DROP CONSTRAINT [FK__BAOCAO__MANV__4316F928]
GO
ALTER TABLE [dbo].[THUCUONG] DROP CONSTRAINT [DF_MATHUCUONG]
GO
ALTER TABLE [dbo].[PHIEUNHAPNGUYENLIEU] DROP CONSTRAINT [DF_MAPNNL]
GO
ALTER TABLE [dbo].[NHANVIEN] DROP CONSTRAINT [DF_MANV]
GO
ALTER TABLE [dbo].[NGUYENLIEU] DROP CONSTRAINT [DF_MANGUYENLIEU]
GO
ALTER TABLE [dbo].[HOADON] DROP CONSTRAINT [DF_DAXOA]
GO
ALTER TABLE [dbo].[HOADON] DROP CONSTRAINT [DF_MAHOADON]
GO
ALTER TABLE [dbo].[CHITIETTHUCUONG] DROP CONSTRAINT [DF_MACTTU]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] DROP CONSTRAINT [DF_MACTPNNL]
GO
ALTER TABLE [dbo].[CHITIETPHACHE] DROP CONSTRAINT [DF_MACTPC]
GO
ALTER TABLE [dbo].[CHITIETHOADON] DROP CONSTRAINT [DF_MACTHD]
GO
ALTER TABLE [dbo].[BAOCAO] DROP CONSTRAINT [DF_MABAOCAO]
GO
/****** Object:  Index [U_SDT]    Script Date: 1/1/2021 12:37:25 AM ******/
ALTER TABLE [dbo].[NHANVIEN] DROP CONSTRAINT [U_SDT]
GO
/****** Object:  Table [dbo].[THUCUONG]    Script Date: 1/1/2021 12:37:25 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[THUCUONG]') AND type in (N'U'))
DROP TABLE [dbo].[THUCUONG]
GO
/****** Object:  Table [dbo].[PHIEUNHAPNGUYENLIEU]    Script Date: 1/1/2021 12:37:25 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHIEUNHAPNGUYENLIEU]') AND type in (N'U'))
DROP TABLE [dbo].[PHIEUNHAPNGUYENLIEU]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 1/1/2021 12:37:25 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NHANVIEN]') AND type in (N'U'))
DROP TABLE [dbo].[NHANVIEN]
GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 1/1/2021 12:37:25 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NGUYENLIEU]') AND type in (N'U'))
DROP TABLE [dbo].[NGUYENLIEU]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 1/1/2021 12:37:25 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HOADON]') AND type in (N'U'))
DROP TABLE [dbo].[HOADON]
GO
/****** Object:  Table [dbo].[CHITIETTHUCUONG]    Script Date: 1/1/2021 12:37:25 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHITIETTHUCUONG]') AND type in (N'U'))
DROP TABLE [dbo].[CHITIETTHUCUONG]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 1/1/2021 12:37:25 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHITIETPHIEUNHAP]') AND type in (N'U'))
DROP TABLE [dbo].[CHITIETPHIEUNHAP]
GO
/****** Object:  Table [dbo].[CHITIETPHACHE]    Script Date: 1/1/2021 12:37:25 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHITIETPHACHE]') AND type in (N'U'))
DROP TABLE [dbo].[CHITIETPHACHE]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 1/1/2021 12:37:25 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHITIETHOADON]') AND type in (N'U'))
DROP TABLE [dbo].[CHITIETHOADON]
GO
/****** Object:  Table [dbo].[BAOCAO]    Script Date: 1/1/2021 12:37:25 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BAOCAO]') AND type in (N'U'))
DROP TABLE [dbo].[BAOCAO]
GO
USE [master]
GO
/****** Object:  Database [QUANLYQUANCAFE]    Script Date: 1/1/2021 12:37:25 AM ******/
DROP DATABASE [QUANLYQUANCAFE]
GO
/****** Object:  Database [QUANLYQUANCAFE]    Script Date: 1/1/2021 12:37:25 AM ******/
CREATE DATABASE [QUANLYQUANCAFE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYQUANCAFE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QUANLYQUANCAFE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYQUANCAFE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QUANLYQUANCAFE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYQUANCAFE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYQUANCAFE]
GO
/****** Object:  Table [dbo].[BAOCAO]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAO](
	[MABAOCAO] [uniqueidentifier] NOT NULL,
	[MANV] [uniqueidentifier] NULL,
	[LOAI] [nvarchar](40) NULL,
	[LINKFILE] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABAOCAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MACTHD] [uniqueidentifier] NOT NULL,
	[MAHOADON] [uniqueidentifier] NULL,
	[MATHUCUONG] [uniqueidentifier] NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHACHE]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHACHE](
	[MACTPC] [uniqueidentifier] NOT NULL,
	[MACTHD] [uniqueidentifier] NULL,
	[MANGUYENLIEU] [uniqueidentifier] NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACTPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MACTPNNL] [uniqueidentifier] NOT NULL,
	[MAPNNL] [uniqueidentifier] NULL,
	[MANGUYENLIEU] [uniqueidentifier] NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACTPNNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETTHUCUONG]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTHUCUONG](
	[MACTTU] [uniqueidentifier] NOT NULL,
	[MATHUCUONG] [uniqueidentifier] NULL,
	[MANGUYENLIEU] [uniqueidentifier] NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACTTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [uniqueidentifier] NOT NULL,
	[MANV] [uniqueidentifier] NULL,
	[NGAYLAP] [date] NULL,
	[TONGTIEN] [bigint] NULL,
	[DAXOA] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYENLIEU](
	[MANGUYENLIEU] [uniqueidentifier] NOT NULL,
	[TEN] [nvarchar](50) NULL,
	[DVT] [nvarchar](20) NULL,
	[SOLUONG] [int] NULL,
	[SOLUONGTOITHIEU] [int] NULL,
	[THOIGIANBAOQUAN] [int] NULL,
	[GHICHU] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANGUYENLIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [uniqueidentifier] NOT NULL,
	[TEN] [nvarchar](15) NULL,
	[HO] [nvarchar](50) NULL,
	[SOCMND] [varchar](15) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[SDT] [varchar](15) NOT NULL,
	[NGAYVAOLAM] [date] NULL,
	[LUONG] [int] NULL,
	[MATKHAU] [varchar](255) NULL,
	[LOAINV] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAPNGUYENLIEU]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPNGUYENLIEU](
	[MAPNNL] [uniqueidentifier] NOT NULL,
	[MANV] [uniqueidentifier] NULL,
	[NGAYNHAP] [date] NULL,
	[LINKANH] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPNNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUCUONG]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUCUONG](
	[MATHUCUONG] [uniqueidentifier] NOT NULL,
	[TEN] [nvarchar](100) NULL,
	[GIA] [int] NULL,
	[GHICHU] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHUCUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TEN], [HO], [SOCMND], [DIACHI], [SDT], [NGAYVAOLAM], [LUONG], [MATKHAU], [LOAINV]) VALUES (N'02603282-c09b-4506-b26d-550a818d89d0', N'A', N'Nguyễn Văn', N'01234678', N'A 123', N'012345678', CAST(N'2020-12-31' AS Date), 1000000, N'1', N'Quản lý')
GO
INSERT [dbo].[THUCUONG] ([MATHUCUONG], [TEN], [GIA], [GHICHU]) VALUES (N'8771a84b-ddf6-4f12-9140-39c7e3bc62b6', N'ABC', 123, N'ABC')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [U_SDT]    Script Date: 1/1/2021 12:37:25 AM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [U_SDT] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAOCAO] ADD  CONSTRAINT [DF_MABAOCAO]  DEFAULT (newid()) FOR [MABAOCAO]
GO
ALTER TABLE [dbo].[CHITIETHOADON] ADD  CONSTRAINT [DF_MACTHD]  DEFAULT (newid()) FOR [MACTHD]
GO
ALTER TABLE [dbo].[CHITIETPHACHE] ADD  CONSTRAINT [DF_MACTPC]  DEFAULT (newid()) FOR [MACTPC]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] ADD  CONSTRAINT [DF_MACTPNNL]  DEFAULT (newid()) FOR [MACTPNNL]
GO
ALTER TABLE [dbo].[CHITIETTHUCUONG] ADD  CONSTRAINT [DF_MACTTU]  DEFAULT (newid()) FOR [MACTTU]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_MAHOADON]  DEFAULT (newid()) FOR [MAHOADON]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_DAXOA]  DEFAULT ((0)) FOR [DAXOA]
GO
ALTER TABLE [dbo].[NGUYENLIEU] ADD  CONSTRAINT [DF_MANGUYENLIEU]  DEFAULT (newid()) FOR [MANGUYENLIEU]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_MANV]  DEFAULT (newid()) FOR [MANV]
GO
ALTER TABLE [dbo].[PHIEUNHAPNGUYENLIEU] ADD  CONSTRAINT [DF_MAPNNL]  DEFAULT (newid()) FOR [MAPNNL]
GO
ALTER TABLE [dbo].[THUCUONG] ADD  CONSTRAINT [DF_MATHUCUONG]  DEFAULT (newid()) FOR [MATHUCUONG]
GO
ALTER TABLE [dbo].[BAOCAO]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD FOREIGN KEY([MATHUCUONG])
REFERENCES [dbo].[THUCUONG] ([MATHUCUONG])
GO
ALTER TABLE [dbo].[CHITIETPHACHE]  WITH CHECK ADD FOREIGN KEY([MACTHD])
REFERENCES [dbo].[CHITIETHOADON] ([MACTHD])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MAPNNL])
REFERENCES [dbo].[PHIEUNHAPNGUYENLIEU] ([MAPNNL])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_MANGUYENLIEU] FOREIGN KEY([MANGUYENLIEU])
REFERENCES [dbo].[NGUYENLIEU] ([MANGUYENLIEU])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_MANGUYENLIEU]
GO
ALTER TABLE [dbo].[CHITIETTHUCUONG]  WITH CHECK ADD FOREIGN KEY([MANGUYENLIEU])
REFERENCES [dbo].[NGUYENLIEU] ([MANGUYENLIEU])
GO
ALTER TABLE [dbo].[CHITIETTHUCUONG]  WITH CHECK ADD FOREIGN KEY([MATHUCUONG])
REFERENCES [dbo].[THUCUONG] ([MATHUCUONG])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAPNGUYENLIEU]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
/****** Object:  StoredProcedure [dbo].[BAOCAO_INSERT]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[BAOCAO_INSERT](@MaNV uniqueidentifier, @Loai nvarchar(40), @LinkFile nvarchar(255))
AS
	INSERT INTO BAOCAO(MANV,LOAI,LINKFILE)
	VALUES (@MaNV,@Loai,@LinkFile)
GO
/****** Object:  StoredProcedure [dbo].[CHITIETHOADON_INSERT]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CHITIETHOADON_INSERT](@MaHoaDon uniqueidentifier, @MaTU uniqueidentifier, @SoLuong int)
AS
	INSERT INTO CHITIETHOADON(MAHOADON,MATHUCUONG,SOLUONG)
	VALUES (@MaHoaDon,@MaTU,@SoLuong)
GO
/****** Object:  StoredProcedure [dbo].[CHITIETPHACHE_INSERT]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CHITIETPHACHE_INSERT](@MaCTHD uniqueidentifier, @MaNL uniqueidentifier, @SoLuong int)
AS
	INSERT INTO CHITIETPHACHE(MACTHD,MANGUYENLIEU,SOLUONG)
	VALUES (@MaCTHD,@MaNL,@SoLuong)
GO
/****** Object:  StoredProcedure [dbo].[CHITIETPHIEUNHAP_INSERT]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CHITIETPHIEUNHAP_INSERT](@MaPNNL uniqueidentifier, @MaNL uniqueidentifier, @SoLuong int)
AS
	INSERT INTO CHITIETPHIEUNHAP(MAPNNL,MANGUYENLIEU,SOLUONG)
	VALUES (@MaPNNL,@MaNL,@SoLuong)
GO
/****** Object:  StoredProcedure [dbo].[CHITIETTHUCUONG_DELETE]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CHITIETTHUCUONG_DELETE](@MaCTTU uniqueidentifier)
AS
	SELECT * FROM CHITIETTHUCUONG WHERE MACTTU = @MaCTTU
GO
/****** Object:  StoredProcedure [dbo].[CHITIETTHUCUONG_INSERT]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[CHITIETTHUCUONG_INSERT](@MaTU uniqueidentifier, @MaNL uniqueidentifier, @SoLuong int)
AS
	INSERT INTO CHITIETTHUCUONG(MATHUCUONG,MANGUYENLIEU,SOLUONG)
	VALUES (@MaTU,@MaNL,@SoLuong)
GO
/****** Object:  StoredProcedure [dbo].[CHITIETTHUCUONG_SELECTBYMANL]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CHITIETTHUCUONG_SELECTBYMANL](@MaNL uniqueidentifier)
AS
	SELECT * FROM CHITIETTHUCUONG WHERE MANGUYENLIEU = @MaNL
GO
/****** Object:  StoredProcedure [dbo].[CHITIETTHUCUONG_SELECTBYMATU]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CHITIETTHUCUONG_SELECTBYMATU](@MaTU uniqueidentifier)
AS
	SELECT * FROM CHITIETTHUCUONG WHERE MATHUCUONG = @MaTU
GO
/****** Object:  StoredProcedure [dbo].[CHITIETTHUCUONG_UPDATE]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CHITIETTHUCUONG_UPDATE](@MaCTTU uniqueidentifier, @MaTU uniqueidentifier, @MaNL uniqueidentifier, @SoLuong int)
AS
	UPDATE CHITIETTHUCUONG
	SET MATHUCUONG = @MaTU,
	MANGUYENLIEU = @MaNL,
	SOLUONG = @SoLuong
	WHERE MACTTU = @MaCTTU
GO
/****** Object:  StoredProcedure [dbo].[HOADON_INSERT]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[HOADON_INSERT](@MaNV uniqueidentifier, @NgayLap DateTime, @TongTien bigint)
AS
	INSERT INTO HOADON(MANV,NGAYLAP,TONGTIEN,DAXOA) OUTPUT inserted.MAHOADON
	VALUES (@MaNV,@NgayLap,@TongTien,0)
GO
/****** Object:  StoredProcedure [dbo].[HOADON_SELECTALL]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[HOADON_SELECTALL]
AS
	SELECT * FROM HOADON
GO
/****** Object:  StoredProcedure [dbo].[HOADON_TINHTONGTIEN]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[HOADON_TINHTONGTIEN](@MaHD uniqueidentifier)
AS
	DECLARE @TongTien BIGINT
	SELECT @TongTien = SUM(CHITIETHOADON.SOLUONG*THUCUONG.GIA)
	FROM CHITIETHOADON,THUCUONG
	WHERE CHITIETHOADON.MAHOADON = @MaHD AND THUCUONG.MATHUCUONG = CHITIETHOADON.MATHUCUONG
	UPDATE HOADON SET TONGTIEN = @TongTien WHERE MAHOADON = @MaHD
GO
/****** Object:  StoredProcedure [dbo].[HOADON_XOA]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[HOADON_XOA](@MaHoaDon uniqueidentifier)
AS
	UPDATE HOADON
	SET DAXOA = 1
	WHERE MAHOADON = @MaHoaDon
GO
/****** Object:  StoredProcedure [dbo].[NGUYENLIEU_IMPORT]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[NGUYENLIEU_IMPORT](@MaPNNL uniqueidentifier)
AS
	UPDATE NGUYENLIEU
	SET SOLUONG = nl.SOLUONG + ctpn.SOLUONG
	FROM NGUYENLIEU nl, CHITIETPHIEUNHAP ctpn
	WHERE ctpn.MAPNNL = @MaPNNL
	AND ctpn.MANGUYENLIEU = nl.MANGUYENLIEU
GO
/****** Object:  StoredProcedure [dbo].[NGUYENLIEU_INSERT]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[NGUYENLIEU_INSERT](@Ten nvarchar(50),@Dvt nvarchar(20), @SoLuong int, @SoLuongToiThieu int, @ThoiGianBaoQuan int, @GhiChu nvarchar(255))
AS
	INSERT INTO NGUYENLIEU(TEN,DVT,SOLUONG,SOLUONGTOITHIEU,THOIGIANBAOQUAN,GHICHU)
	VALUES (@Ten,@Dvt,@SoLuong,@SoLuongToiThieu,@ThoiGianBaoQuan,@GhiChu)
GO
/****** Object:  StoredProcedure [dbo].[NGUYENLIEU_SELECTALL]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[NGUYENLIEU_SELECTALL]
AS
	SELECT * FROM NGUYENLIEU
GO
/****** Object:  StoredProcedure [dbo].[NGUYENLIEU_SELECTBAD]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[NGUYENLIEU_SELECTBAD]
AS
	SELECT * FROM NGUYENLIEU nl
	WHERE SOLUONG < SOLUONGTOITHIEU OR DATEDIFF(DAY,(SELECT TOP 1 NGAYNHAP FROM PHIEUNHAPNGUYENLIEU,CHITIETPHIEUNHAP,NGUYENLIEU nl2
	WHERE nl.MANGUYENLIEU = nl2.MANGUYENLIEU AND nl2.MANGUYENLIEU = CHITIETPHIEUNHAP.MANGUYENLIEU AND CHITIETPHIEUNHAP.MAPNNL = PHIEUNHAPNGUYENLIEU.MAPNNL),GETDATE()) > THOIGIANBAOQUAN OR
	nl.MANGUYENLIEU NOT IN (SELECT cttu.MANGUYENLIEU FROM CHITIETTHUCUONG cttu)
GO
/****** Object:  StoredProcedure [dbo].[NGUYENLIEU_SELECTBYNAME]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[NGUYENLIEU_SELECTBYNAME](@Ten nvarchar(50))
AS
	SELECT * FROM NGUYENLIEU
GO
/****** Object:  StoredProcedure [dbo].[NGUYENLIEU_SELECTNEEDTOIMPORT]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[NGUYENLIEU_SELECTNEEDTOIMPORT]
AS
	SELECT * FROM NGUYENLIEU
	WHERE SOLUONG < SOLUONGTOITHIEU
GO
/****** Object:  StoredProcedure [dbo].[NGUYENLIEU_UPDATE]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[NGUYENLIEU_UPDATE](@MaNguyenLieu uniqueidentifier, @Ten nvarchar(50),@Dvt nvarchar(20), @SoLuong int, @SoLuongToiThieu int, @ThoiGianBaoQuan int, @GhiChu nvarchar(255))
AS
	UPDATE NGUYENLIEU
	SET TEN = @Ten,
	DVT = @Dvt,
	SOLUONG = @SoLuong,
	SOLUONGTOITHIEU = @SoLuongToiThieu,
	THOIGIANBAOQUAN = @ThoiGianBaoQuan,
	GHICHU = @GhiChu
	WHERE MANGUYENLIEU = @MaNguyenLieu
GO
/****** Object:  StoredProcedure [dbo].[NHANVIEN_DELETE]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[NHANVIEN_DELETE] (@MaNV uniqueidentifier)
AS
	DELETE FROM NHANVIEN
	WHERE MANV = @MaNV
GO
/****** Object:  StoredProcedure [dbo].[NHANVIEN_INSERT]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[NHANVIEN_INSERT](@Ten nvarchar(15),@Ho nvarchar(50), @SoCMND varchar(15), @DiaChi nvarchar(255),@Sdt varchar(15), @NgayVaoLam date, @Luong int, @MatKhau varchar(255), @LoaiNV nvarchar(20))
AS
	INSERT INTO NHANVIEN(TEN,HO,SOCMND,DIACHI,SDT,NGAYVAOLAM,LUONG,MATKHAU,LOAINV)
	VALUES (@Ten,@Ho,@SoCMND,@DiaChi,@Sdt,@NgayVaoLam,@Luong,@MatKhau,@LoaiNV)
GO
/****** Object:  StoredProcedure [dbo].[NHANVIEN_SELECT]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[NHANVIEN_SELECT](@Sdt varchar(15),@MatKhau varchar(255))
AS
	SELECT * FROM NHANVIEN WHERE SDT = @Sdt AND MATKHAU = @MatKhau
GO
/****** Object:  StoredProcedure [dbo].[NHANVIEN_SELECTALL]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[NHANVIEN_SELECTALL]
AS
	SELECT [MANV]
      ,[TEN]
      ,[HO]
      ,[SOCMND]
      ,[DIACHI]
      ,[SDT]
      ,[NGAYVAOLAM]
      ,[LUONG]
      ,[LOAINV]
  FROM [dbo].[NHANVIEN]
GO
/****** Object:  StoredProcedure [dbo].[NHANVIEN_SELECTBYCMND]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[NHANVIEN_SELECTBYCMND](@SoCMND varchar(15))
AS
	SELECT [MANV]
	   ,[TEN]
	   ,[HO]
	   ,[SOCMND]
	   ,[DIACHI]
	   ,[SDT]
	   ,[NGAYVAOLAM]
	   ,[LUONG]
	   ,[LOAINV]
  FROM [dbo].[NHANVIEN] WHERE SOCMND = @SoCMND
GO
/****** Object:  StoredProcedure [dbo].[NHANVIEN_UPDATE]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[NHANVIEN_UPDATE](@MaNV uniqueidentifier, @Ten nvarchar(15),@Ho nvarchar(50), @SoCMND varchar(15), @DiaChi nvarchar(255),@Sdt varchar(15), @NgayVaoLam date, @Luong int, @MatKhau varchar(255), @LoaiNV nvarchar(20))
AS
	UPDATE NHANVIEN
	SET TEN = @Ten,
	HO = @Ho,
	SOCMND = @SoCMND,
	DIACHI = @DiaChi,
	SDT = @Sdt,
	NGAYVAOLAM = @NgayVaoLam,
	LUONG = @Luong,
	MATKHAU = @MatKhau,
	LOAINV = @LoaiNV
	WHERE MANV = @MaNV
GO
/****** Object:  StoredProcedure [dbo].[PHIEUNHAPNGUYENLIEU_INSERT]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PHIEUNHAPNGUYENLIEU_INSERT](@MaNV uniqueidentifier, @NgayNhap date, @LinkAnh varchar(255))
AS
	INSERT INTO PHIEUNHAPNGUYENLIEU(MANV,NGAYNHAP,LINKANH) OUTPUT inserted.MAPNNL
	VALUES (@MaNV,@NgayNhap,@LinkAnh)
GO
/****** Object:  StoredProcedure [dbo].[THUCUONG_DELETE]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THUCUONG_DELETE](@MaTU uniqueidentifier)
AS
	DELETE FROM THUCUONG WHERE MATHUCUONG = @MaTU
GO
/****** Object:  StoredProcedure [dbo].[THUCUONG_INSERT]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THUCUONG_INSERT](@Ten nvarchar(100),@Gia int,@GhiChu nvarchar(255))
AS
	INSERT INTO THUCUONG(TEN,GIA,GHICHU) OUTPUT inserted.MATHUCUONG
	VALUES (@Ten,@Gia,@GhiChu)
GO
/****** Object:  StoredProcedure [dbo].[THUCUONG_SELECTALL]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THUCUONG_SELECTALL]
AS
	SELECT* FROM THUCUONG
GO
/****** Object:  StoredProcedure [dbo].[THUCUONG_SELECTBYNAME]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[THUCUONG_SELECTBYNAME](@Ten nvarchar(100))
AS
	SELECT* FROM THUCUONG
	WHERE TEN = @Ten
GO
/****** Object:  StoredProcedure [dbo].[THUCUONG_UPDATE]    Script Date: 1/1/2021 12:37:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[THUCUONG_UPDATE](@MaTU uniqueidentifier, @Ten nvarchar(100), @Gia int, @GhiChu nvarchar(255))
AS
	UPDATE THUCUONG
	SET TEN = @Ten,
	GIA = @Gia,
	GHICHU = @GhiChu
	WHERE MATHUCUONG = @MaTU
GO
USE [master]
GO
